/* Homepage */
.backgroundCover {
    width: 100vw !important;
    height: 100vh !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.backgroundCover.delicateArch {
    background-image: url('../../images/delicate-arch.png');
    /* background-image: linear-gradient(180deg,transparent 0%,#ffffff),url('../../images/delicate-arch.png'); */
}
.backgroundCover.blackCanyon {
    background-image: url('../../images/black-canyon.png');
    /* background-image: linear-gradient(180deg,transparent 0%,#ffffff),url('../../images/black-canyon.png'); */
}
.backgroundCover .backgroundOpacity {
    width: 100vw !important;
    height: 100vh !important;
    /* background-color: rgba(256, 256, 256, .5); */
    background-color: rgba(256, 256, 256, .7);
    /* background-color: rgba(256, 256, 256, 1); */
    /* background-color: rgba(0, 0, 0, .5); */
    position: absolute;
    top: 0;
    /* margin-top: 0px !important; */
}
.zIndexNegative {
    z-index: -1;
}

/* Golf Page */
.golfTable .distribute10 {
    width: calc(100% / 10) !important;
    max-width: 12.5% !important;
}
.golf h1, .golf h2, .golf h3, .golf h4, .golf h5, .golf h6,
.golf span, .golf th, .golf td, .golf div, .golf p, .golf a {
    color: white;
}

.golf .subTable h1, .golf .subTable h2, .golf .subTable h3, .golf .subTable h4,
.golf .subTable h5, .golf .subTable h6, .golf .subTable span, .golf .subTable th,
.golf .subTable td, .golf .subTable div, .golf .subTable p, .golf .subTable a {
    color: black;
    padding: 8px;
}

.golfTable .golfTableBorderRightSmall {
    border-right: 1px solid #f1f2f3;
}

.golfTable .chip {
    border-radius: 4px;
    margin-right: 4px !important;
    margin-bottom: 2px !important;
}

/* .golf .displayHoverArrow svg {
    color: white;
    display: none;
} */
.golf .displayDownArrowAfter:after {
    content: ' \2193';
    color: white;
}
.golf .displayUpArrowAfter:after {
    content: ' \2191';
    color: white;
}

/* Misc. */
.underlined {
    border-bottom: 1px solid black;
}

.mapbox {
    margin: 0 auto;
    width: 80vw;
    height: 600px;
}

/* Marker styles */
.marker {
    background-image: url('../../images/tree.png');
    background-size: cover;
    width: 30px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.marker.unvisited {
    background-image: url('../../images/unvisited.png');
}
.marker.destination {
    background-image: url('../../images/destination.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    border-radius: 0;
}

.mapboxgl-popup-content {
    min-width: 200px;
    max-height: 200px;
    overflow-y: scroll;
}

/* Homepage background images */
.cardBackgroundImage {
    height: 300px;
    background-size: cover;
}
.cardBackgroundImage:first-of-type {
    background-image: url('../../images/delicate-arch.png');
}
.cardBackgroundImage:nth-of-type(2) {
    /* background-image: url('../../images/roadtrip2019.png'); */
}
.cardBackgroundImage:nth-of-type(3) {
    background-image: url('../../images/sunset.png');
}
.cardBackgroundImage:nth-of-type(4) {
    background-image: url('../../images/tree.png');
}