/* App Configuration Styles */
/* Background colors */
.colorFFB3B3 {
    width: 100vw !important;
    height: 100vh !important;
    background-color: #FFB3B3;
    position: absolute;
    top: 0;
    z-index: -1;
}
